<% if @namespace -%>
class <%= @namespace.camelize %>::Versions::<%= @class_name %> < ApiVersion::Version
  resource :<%= @resource.pluralize.underscore %>
  timestamp "<%= @timestamp %>"
  namespace "<%= @namespace %>"
<% else -%>
class Versions::<%= @class_name %> < ApiVersion::Version
  resource :<%= @resource.pluralize.underscore %>
  timestamp "<%= @timestamp %>"
<% end -%>

  payload do |t|
  end

  response do |t|
  end
end
